@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* ==========Navigation=========== */

nav ul  {
    display: flex;
    justify-content: space-around;
    padding: 30px 70px;
    list-style: none;
    margin: 0;
    background-color: #7872d7;
    padding-top: 22px;
    padding-bottom: 22px;
    transition: 0.3s;
    font-size: 14px;
}

nav ul li {
    transition: 0.3s;
}

nav ul li:hover {
    border-bottom: 1.5px solid #ffbfe0;
}

nav ul:hover {
    background-color: #524d9c;
}

nav a  {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    z-index: 2;
}

nav a:hover {
    padding: 0 8px;
    border-radius: 10px;
}

/* ==========Main First Section=========== */

.first_section {
    background-color: #ffbfe0;
    padding: 80px 100px;
}

.first_section h1 {
    color: #fff;
    font-weight: 400;
    margin: 0;
    width: 50%;
    font-size: 40px;
}


/* ==========Main Second Section=========== */

.second_section {
    display: flex;
    background-color: rgb(26, 25, 25);
    justify-content: space-between;
    padding: 20px 50px;
}

.second_section ul li {
    margin-right: 60px;
}

.second_section ul{
    display: flex;

    margin: 0;
    align-items: center;
}

.second_section ul a  {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 15px;
    
}

.second_section img {
    width: 20px;
    background-color: #ffbfe0;
    padding: 10px;
    border-radius: 20px;
}


/* ===================Main Third Section================ */

.block_container_1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #ffa1d2;
    padding: 40px 10px 40px 40px;
}


.block_img {
    background: url('https://icdn.lenta.ru/images/2019/11/28/18/20191128181353071/pwa_vertical_768_2a906958a4292e57b546b8522602c8e8.jpg') center / cover;
    width: 280px;
    height: 300px;
    box-shadow: -1px -12px 37px -12px rgba(58, 53, 56, 1) inset;
}

.block_text {
    background-color: #fff;
    width: 280px;
}

.block_text h2 {
    margin: 0;
    font-size: 30px;
    width: 80%;
    padding: 30px 20px;
    color: #524d9c;
    transition: 0.2s;
}

.block_text h2:hover {
    color: #464143;
    text-decoration: underline;
}

.block_text p {
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px;
    color: rgb(54, 54, 54);
    transition: 0.2s;
}

.block_text p:hover {
    color: darkmagenta;
}

.line {
    background-color: #ffa1d2;
    width: 280px;
    height: 2px;
}

.block_text a {
    text-decoration: none;
}

/* ===============Footer================= */

footer {
    background-color: rgb(31, 31, 31);
    padding: 80px 0;
}

footer h2 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 30px;
}

form {
    text-align: center;
    padding: 60px 0;
}

form input {
    padding: 17px 160px 17px 25px;
    background: none;
    border: #ffbfe0 1px solid;
    outline: none;
}

form button {
    padding: 17px 20px;
    background: none;
    border: #7872d7 1px solid;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover {
    padding: 17px 20px;
    background: #7872d7;
}

.become_a_member {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
}

.become_a_member a {
    color: #fff;
    text-decoration: none;
}

.socials img {
    width: 40px;
    object-fit: contain;
    margin-right: 10px;
}

